<a href="https://colab.research.google.com/github/wukengche-beep/20251125/blob/main/20251126.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
i = 0
while i< 10:
    n1= i + 1
    n2= 10 - i
    n3= 2 * i
    print("第", n1 , n2 , n3, "次")
    i = i + 1

第 1 10 0 次
第 2 9 2 次
第 3 8 4 次
第 4 7 6 次
第 5 6 8 次
第 6 5 10 次
第 7 4 12 次
第 8 3 14 次
第 9 2 16 次
第 10 1 18 次

In [ ]:
total = 0
# xx階乘
factorial = 1

i = 0
while i < 10000:
    # 第一次不能*0
    if not i == 0:
        factorial = factorial * i
    total = total + 1 / factorial
    #print(total)
    #total = total + (i + 1)
    #print(total)
    i = i + 1
print(total)

2.7182818284590455

In [ ]:
import random
import math

# x^2/4 + y^2/9 = 1
a, b = 2, 3
# 準備一個把它包起來的正方形
w, h = 10, 10

count = 0
times = 1000000

i = 0
while i < times:
    halfw, halfh = w / 2, h / 2
    x = random.uniform(-1*halfw, halfw)
    y = random.uniform(-1*halfh, halfh)
    z = x ** 2 / a ** 2 + y ** 2 / b ** 2
    if z <= 1:
        count = count + 1
    i = i + 1

ratio = count / times
area = ratio * (w * h)
print("猜的是:", area)

real_area = math.pi * a * b
print("我用公式算:", real_area)

猜的是: 18.8327
我用公式算: 18.84955592153876

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import random
# 0 平手， 1 贏 ，2 輸
trans = ["even","win","lose"]
win,lose = 0,0
# cond1: win < 3  cond2: loss < 3
while (win < 3) and (lose < 3):
    result = random.randint(0,2)
    print(trans[result])
    if result == 1:
        win = win+1
    elif result == 2:
        lose = lose+1

if win >lose:
    print("win!!!")
else:
    print("lose!!!")

even
win
win
win
win!!!

In [ ]:
import random
# 0 平手， 1 贏 ，2 輸
trans = ["even","win","lose"]
win,lose = 0,0
# cond1: win < 3  cond2: loss < 3
while True:
    result = random.randint(0,2)
    print(trans[result])
    if result == 1:
        win = win+ 1
    elif result == 2:
        lose = lose+ 1


    if win == 3:
     print("win!!!")
     break
    elif lose == 3:
     print("lose!!!")
     break

win
win
win
win!!!

In [ ]:
import random
# 0 平手， 1 贏 ，2 輸
trans = ["even","win","lose"]
win,lose = 0,0
# cond1: win < 3  cond2: loss < 3
while True:
    result = random.randint(0,2)
    print(trans[result])
    if result == 1:
        win = win+ 1
    elif result == 2:
        lose = lose+ 1


    print(win,":",lose)
    if win >= 3 or lose >= 3:
     if abs(win - lose) < 2:
       print("DEUCE")
    else:
        break

win
1 : 0

In [35]:
def is_leap_year(year):
    #year = 2000
    if year % 400 == 0:
        return True
    elif year % 100 == 0:
        return False
    elif year % 4 == 0:
        return True
    else:
        return False
def is_date_valid(date_checked):
 day = date_checked % 100
 remain = date_checked // 100
 month = remain % 100
 year = remain // 100

 if year > 0:
   if 12 >= month >= 1:
        # list key: 0 1 2 3 ....
        day_per_month = [31,28,31,30,31,30,31,30,31,30,31,30]
        max_day = day_per_month[month-1]
        if month == 2 and is_leap_year(year):
            max_day = max_day + 1

        if 1 <= day <= max_day:
            return True
 return False
max_count = 100
start = 4499
count = 0
while True:
    d = start * start
    if is_date_valid(d):
        print(d)
        count = count + 1
        if count == max_count:
            break
    start = start + 1

20241001
20720704
20930625
21150801
21390625
21520321
21641104
21650409
21790224
21921124
22071204
22080601
22231225
22420225
22591009
22600516
22800625
23011209
23020804
23030401
23280625
23571025
23961025
23970816
23980609
23990404
24000201
24651225
24681024
24730729
24750625
24770529
24820324
24850225
24890121
25110121
25150225
25180324
25230529
25250625
25270729
25321024
25351225
26020201
26030404
26040609
26050816
26061025
26471025
26780625
27050401
27060804
27071209
27300625
27520516
27531009
27720225
27931225
28100601
28111204
28281124
28430224
28590409
28601104
28740321
28890625
29170801
29430625
29680704
30261001
30371121
30680521
30780304
31080625
31371201
31640625
31911201
32661225
32890225
33051001
33350625
33930625
34210801
34281025
34680321
34751025
35390601
35450116
35581225
35700625
35820225
36180225
36300625
36421225
36590401
36650916
36820624
36990724
37161216
37271025



```
迴圈 part a. 次數型迴圈
1. 初始化: i = 0
2. 判斷: i < 10
3. 增加: i = i + 1

i = 0
while i< 10:
    要做的
    i = i + 1

養成好習慣， 好的東西就 " 一寫在寫"

迴圈 part2 . 其他條件





```

In [38]:
# Demo:
f = open("a.txt","w")
# 以前 write(f,"hello")
# 專屬功能: f.write("hello")
f.write("heelo\nkkkk")
#close(f)
f.close()

f = open("a.txt","r")
#content= read(f)
content = f.read()
print(content)
f.close()

heelo
kkkk

In [43]:
import urllib.request as req
import json
import pandas as pd

url = "https://api.gamer.com.tw/anime/v1/danmu.php?videoSn=36632&geo=TW%2CHK"
f = req.urlopen(url)
content = f.read()
content = json.loads(content)
#型態轉換成 list / dict
danmus = content["data"]["danmu"]
#型態轉換成 pd.DataFrame
df = pd.DataFrame(danmus)
df.to_csv("danmu.csv")
df.to_excel("danmu.xlsx")

In [42]:
df["userid"].value_counts()

userid
qaz1210731      1
dodylee0107     1
hyg125          1
MilkTea157      1
KingOrange69    1
rwan123         1
nehsh101        1
zxc520031       1
d3498115        1
pikachiuweii    1
milkppt         1
Ceadda127       1
bellaliu1230    1
good78221125    1
Rei9488         1
IONCHIPS        1
sunny254ww      1
gemmalinn       1
k246836         1
a59875987       1
coolmus64       1
bubble0315      1
jerry990126     1
kifar13         1
kkjt1030        1
smile10101      1
cathykao1015    1
Cute710         1
ncbob           1
m617007         1
zero77716       1
kateihan0307    1
iorimo0u0       1
zzxcc132465     1
amywei03        1
hongyouc01      1
Angrypig0212    1
st5109185       1
kerrypeng62     1
brianbon        1
ray030716       1
Noisyfish       1
loenyen73       1
blight0710      1
kevinlin5220    1
adcw            1
marux3          1
hoen0531        1
hauch000727     1
tjh0528         1
Name: count, dtype: int64

In [44]:
# 1. 過濾(準備一個list, 裡面放著跟你資料筆數依樣多的True/False) 2. 轉換
# fil = [True, False, True]
# df.head(3)[fil]
user = "st5109185"
fil = df["userid"] == user
df[fil]

      text    color  size  position  time        sn     userid
37      二刷  #FFFFFF     1         0    59  44529553  st5109185
78     好可愛  #FFFFFF     1         0   114  44529401  st5109185
101      8  #FFFFFF     1         0   133  44529558  st5109185
200  烏薩奇寶貝  #FFFFFF     1         0   323  44529406  st5109185
245      哇  #FFFFFF     1         0   400  44529562  st5109185
288    好想吃  #FFFFFF     1         0   480  44529563  st5109185
329      西  #00FF91     1         0   549  44529412  st5109185
431  西西不西西  #FFFFFF     1         0   717  44529568  st5109185
512      诶  #FF0026     1         0   866  44529573  st5109185
525      哈  #FF0026     1         0   901  44529579  st5109185